*{
	margin: 0 auto;
	padding: 0;
}
body{
	font-family: 'Comfortaa', cursive, sans-serif;
}
.logo{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}
.head{
display: flex;
justify-content: space-between;
width: auto;
height: 120px;
border: 1px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
margin: 5px;
}
.header-nav{
	display: flex;
	align-items: center;
	vertical-align: middle;
	flex-flow: column;
	justify-content: center;
	border: 1px;
	background-color: #000;
}
.header-nav a{
	text-decoration: none;
	color: #fff;
	padding: 2px;
	font-family: 'Comfortaa', cursive, sans-serif;
	font-size: 20px;
	transition-duration: 0.5s;
}
.header-nav a:hover{
	text-shadow: 1px 2px 3px white;
	transition-duration: 0.5s;
}
.header-nav a:not(:hover){
	transition-duration: 0.5s;
}
.category-number{
	display: flex;
	align-items: center;
	justify-content: space-between;
	vertical-align: middle;
	height: 40px;
	border: 1px;
	border-radius: 5px;
	background-color: #000;
	font-family: 'Comfortaa', cursive, sans-serif;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.category-label{
	color: #fff;
	text-transform: uppercase;
}
.number{
	color: #fff;
}
label{
	position: relative;
	cursor: pointer;
}
label:hover > .submenu{
	display: block;
}
.submenu{
	position: absolute;
	top: 100%;
	left: 0;
	background: black;
	list-style: none;
	width: 220px;
	z-index: 2;
	display: none;
	color: #fff;
}
.submenu li{
	display: flex;
	padding: 15px;
	margin: 0;
}
.cars{
	display: flex;
	width: auto;
	height: auto;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin: 5px;
}
.category label{
	text-transform: uppercase;
	padding: 20px;
}
.category label:hover{
	background-color: #000;
	color: white;
}
.cars{
	display: flex;
	flex-wrap: wrap;
}
.cars .card{
	width: 300px;
	height: 350px;
	background: #000;
	color: #fff;
	border-radius: 10px;
	overflow: auto;
	margin-bottom: 20px;
}
.cars .card:hover{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
	transition: 0.3s;
}
.cars .card:not(:hover){
	transition: 0.4s;
}
.card{
	margin-top: 10px;
}
.cars .card img{
	width: 100%;
	object-fit: cover;
	height: 230px;
}
.cars .card .info{
	margin: 0 10px;
	padding: 6px;
}
.justify-center{
	display: flex;
	justify-content: center;
}
.switch{
	display: none;
}

.switch:checked + .cars{
	display: flex;
}
.switch:not(:checked) + .cars{
	display: none;
}
.switch:not(:checked):(.switch-all:checked) + .cars{
	display: block;
}
.wrapper{
	width: auto;
}
.margin-center{
	margin: 5px;
}
.justify-center{
	display: flex;
	justify-content:center;
	align-items: center;
	vertical-align: middle;
}
.justify-between{
	display: flex;
	justify-content: space-between;
}
.direction-row{
	display: flex;
	flex-direction: row;
}
.align-center{
	display: flex;
	align-items: center;
}
.feedback{
	display: flex;
	max-width: 230px;
	max-height: 250px;
	height: 230px;
	background-color: #fff;
	margin: 5px;
	border: 1px;
	border-radius: 10px;
	box-shadow:  0 0 15px rgba(0,0,0,0.5);
	margin-top: 10px;
}
.message{
	width: 175px;
	height: 25px;
	margin: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px ;
	border-radius: 3px;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
}
.message[placeholder]{
	font-size: 15px;
	color: #000;
}
.contact{
	margin: 10px;
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 32px;
}
.label{
	display: block;
	width: 180px;
	height: 30px;
	color: #fff;
	background-color: #000;
	border:1px;
	border-radius: 15px;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
}
.textarea{
	width: 175px;
	height: 50px;
	margin: 10px;
	border: 1px ;
	border-radius: 5px;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
}
.textarea[placeholder]{
	font-size: 15px;
	color: #000;
}
.submit:not(:hover){
	width: 175px;
	height: 30px;
	margin: 10px;
	font-size: 18px;
	font-family: 'Comfortaa', cursive, sans-serif;
	border: 1px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
	transition: 0.7s;
}
.submit:hover{
	width: 175px;
	height: 30px;
	margin: 10px;
	color: #fff;
	font-size: 18px;
	font-family: 'Comfortaa', cursive, sans-serif;
	border: 1px;
	border-radius: 5px;
	background-color: #000;
	box-shadow:  0 0 15px rgba(0,0,0,0.5);
	transition: 0.7s;
}
.end{
	display: flex;

}
.footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	vertical-align: middle;
	width: auto;
	max-width: 770px;
	max-height: 250px;
	height: 230px;
	border: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin: 10px;
    left: 250px;
}
.footer .footer-nav{
	padding-right: 60px;
	padding-left: 60px;
}
.footer-nav{
	display: flex;
	align-items: center;
	vertical-align: middle;
	justify-content: space-between;
}
.footer-nav>ul{
	list-style: none;
	text-align: center;
}
.footer-nav>ul>li{
	display: inline;
	padding: 5px;
}
.footer-nav>ul>li>a{
	text-decoration: none;
	color: #595959;
}
.footer-nav>ul>li>a:hover{
	text-decoration: none;
	color: #000;
}
.footer-logo{
	margin-right: 55px;
	margin-left: 30px;
}
.social-link{
	margin-right: 30px;
	margin-left: 55px;
}
@media screen and (max-width: 480px){
	h1{
		font-size: 10px;
	}
.head{
	display: flex;
	width: auto;
}
.logo{
	width: 150px;
}
.header-nav{
	display: flex;
	align-items: center;
	vertical-align: middle;
	flex-flow: column;
	justify-content: center;
	border: 1px;
	background-color: #000;
	border-radius: 5px;
	margin: 10px;
	width: auto;
	height: auto;
}
.category label{
	font-size: 10px;
	text-transform: uppercase;
	padding: 5px;
}
.category label:hover{
	background-color: #000;
	color: white;
}
.category{
	display: flex;
	width: auto;
}
.submenu{
	position: absolute;
	top: 100%;
	left: 0;
	background: black;
	list-style: none;
	width: 70px;
	z-index: 1;
	display: none;
	color: #fff;
}
.submenu li{
	display: flex;
	padding: 5px;
	margin: 0;
}
.footer{
	margin:5px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: auto;
}
.footer-nav{
	display: none;
	margin: 0;
}
.footer-logo{
	display: none;
	margin: 0;
}
.social-link{
	display: block;
	padding-right: 15px;
}
}
@media screen and (min-width: 480px) and (max-width: 800px) {
	h1{
		font-size: 25px;
	}
.head{
	display: flex;
	width: auto;
}
.logo{
	width: 250px;
}
.category label{
	font-size: 20px;
	text-transform: uppercase;
	padding: 5px;
}
.category label:hover{
	background-color: #000;
	color: white;
}
.category{
	display: flex;
	width: auto;
}

.submenu{
	position: absolute;
	top: 100%;
	left: 0;
	background: black;
	list-style: none;
	width: auto;
	z-index: 2;
	display: none;
	color: #fff;
}
.submenu li{
	display: flex;
	padding: 5px;
	margin: 0;
}
.footer{
	margin:5px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
}
.footer-nav{
	display: block;
	margin: 0;
	font-size: 13px;
}
.footer-logo{
	display: none;
	margin: 0;
}
.social-link{
	display: block;
	margin: 0 auto;
	margin-right: 20px;
	width: 45px;
}
.social-link img{
	margin: 0 auto;

}
}
@media screen and (min-width: 800px)
{
.category label{
	font-size: 22px;
	text-transform: uppercase;
	padding: 5px;
}
.category label:hover{
	background-color: #000;
	color: white;
}
	.footer{
		width: 100%;
	}
	.footer-nav{
		display: block;
		background-color: #fff;
		width: 70px;
		height: auto;
}